body, html {
    background-color: #000;
    overflow-x: hidden;
    touch-action: pan-y;

}

video {
    width: 100%;
    height: auto;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    video {
        width: 200%;
        position: relative;
        left: -50%;
        overflow: hidden;

    }

}

@media screen and (max-width: 500px) {
    video {
        width: 250%;
        position: relative;
        left: -75%;
        overflow: hidden;
    }


}

@media screen and (max-width: 400px) {
    video {
        width: 300%;
        position: relative;
        left: -105%;
        overflow: hidden;
    }
}

div.gradient {
    width: 100%;
    height: 100px;
    background-color: red;
    position: relative;
    top: -100px;
    background: rgb(70,12,39);
    background: linear-gradient(0deg,rgba(0,0,0,1) 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,0) 37%,rgba(0,0,0,0) 100%);
    z-index: 9;
    position: relative;
    margin-bottom: -100px;
}

div.title {
    text-align: center;
}

div.title h2 {
    user-select: none;
    margin: 0;
}

div.title h2:first-of-type {
    font-family: 'HavanaSunset Sans Filled',Helvetica,Arial,Lucida,sans-serif;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 0em 0em 0.18em rgb(163 163 163);
    font-weight: 100;
    word-wrap: break-word;
}

div.title h2:nth-of-type(2) {
    font-family: 'HavanaSunset Script',Helvetica,Arial,Lucida,sans-serif;
    font-size: 100px;
    color: #ff16e3;
    text-shadow: 0em 0em 0.15em #ffffff;
    font-weight: 100;
    position: relative;
    top: -90px;
}

div.title h2:nth-of-type(3) {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 24px;
    position: relative;
    top: -70px;
}

/*div.events h2 {*/
/*    font-family: 'Roboto Mono', monospace;*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    !**line-height: 0em;**!*/
/*    text-align: center;*/
/*    padding-bottom: 60px;*/
/*    background-position-x: center;*/

/*}*/

h3 {
    font-family: 'HavanaSunset Sans Filled',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
    margin-top: 30px;
    text-decoration: #fff;
    text-decoration-line: blink;
    font-size: 25px;
    color: #fff;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 16px;
    /**line-height: 0em;**/
    text-align: center;
    padding-bottom:20px;
    background-position-x: center;
}

a {
    font-family: 'Roboto Mono', monospace;
    color: #fff !important;
    text-decoration: none !important;
}

/* visited link */
a:visited {
    color: #FAF9F6 !important;
    text-decoration: none !important;
}

/* mouse over link */
a:hover {
    color: #E83D84 !important;
    text-decoration: none !important;
}


